<h2>交通機関情報</h2>


<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title>わくわく遠征</title>
    </head>
    <body>
        <h1>詳細ルート</h1>
        <table border = "1">
            <tr>
                <th>時間</th>
                <th>場所</th>
            </tr>
            <tr>
                <td> 時</td>
                <td> 駅</td>
            </tr>
            <tr>
                <td> 時</td>
                <td> SA</td>
            </tr>
            <tr>
                <td> 時</td>
                <td> SA</td>
            </tr>
            <tr>
                <td> 時</td>
                <td> 合宿所</td>
            </tr>
        </table>
        <p>料金　〇〇円/人</p>
        <a href = "#"><p><input type="submit" value="選択画面に戻る"></p></a>
    </body>
</html>