<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title>予約詳細</title>
    </head>
    <body>
        <h1>予約詳細</h1>
        <table border = "1">
            <tr>
                <th></th>
                <th>施設名・交通手段</th>
                <th>コース名</th>
                <th>料金</th>
            </tr>
            <tr>
                <td>宿泊施設</td>
                <td>〇〇ホテル</td>
                <td>〇コース</td>
                <td> 円</td>
            </tr>
            <tr>
                <td>交通機関</td>
                <td>バス</td>
                <td>〇コース</td>
                <td> 円</td>
            </tr>
            <tr>
                <td>飲食</td>
                <td>〇〇レストラン</td>
                <td>〇コース</td>
                <td> 円</td>
            </tr>
            <tr>
                <td>浴場</td>
                <td>〇〇温泉</td>
                <td>〇コース</td>
                <td> 円</td>
            </tr>
        </table>
    </body>
</html><%= link_to "トップへ戻る", root_path %>