.detail-wrapper{
    
}
    .detail-wrapper h1{
        font-size: 70px;
        text-align: center;
        margin: 80px 0px;
    }
    
    .dt-contents-wrapper{
        border: 3px solid black;
        text-align: center;
    }
    
        .dt.image-wrapper{
            
        }
        
        .dt-descreption-wrapper{
            background-color: red;
        }
        .dt-descreption-wrapper ul{
            background-color: green;
        }
        .dt-descreption-wrapper li{
            float: left;
        }
        .dt-descreption-wrapper h3{
            clear: both;
        }
        
        .dt.map-wrapper{
            
        }
        
        .dt.adress-wrapper{
            
        }
        
        .dt.select-wrapper{
            
        }