// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#pageBodyMain{
    width: 900px;
    float: left;
    background-color:#FFFFCC;
}

#pageBodysub{
    width: 320px;
    float: right;
    background-color:#99ff66;
}