  <div class="index-hotel">
    <h1>List of Hotels</h1>
    <% @hotels.each do |hotel| %>
    <div class="hotel">
      <div class="inner-hotel">
      　<%= link_to "#{hotel.name}", hotel_path(hotel), class: "hotel-name" %>
        <div class="hotel-image">
          <img src="<%= hotel.image %>" alt="hotel" class="hotel_image">
        </div>
        <div class="hotel-table">
          <ul>
            <li>料金: 5000円</li>
            <li>場所: <%= hotel.place %></li>
            <li>空き部屋数: <%= hotel.vacancy %>部屋</li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>

